main{
  display:grid;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 10px;
  margin: 0 auto;
}

.block__top{
  display:grid;
  grid-gap:10px;
  grid-template-rows: 200px 200px;
  grid-template-columns: 50% 25% 25%;
  grid-template-areas:
                'one two two'
                'one tree four';
}

.block__bottom{
  display:grid;
  grid-gap:10px;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 30% 40% 29%;
  grid-template-areas:
                'one tree two'
                'four tree five';
}

.item1{
  grid-area: one;
}
.item2{
  grid-area: two;
}
.item3{
  grid-area: tree;
}
.item4{
  grid-area: four;
}
.item5 {
  grid-area: one;
}
.item6{
  grid-area: two;
}
.item7{
  grid-area: tree;
}
.item8{
  grid-area: four;
}
.item9{
  grid-area: five;
}

@media(max-width: 600px){
  .block__top{
    grid-template-rows: 300px 300px 300px;
    grid-template-columns:50% 50%;
    grid-template-areas:
                    'one one'
                    'tree four'
                    'two two';
  }
  .block__bottom{
    grid-template-columns:50% 50%;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
                    'tree tree'
                    'one four'
                    'two five';
  }
}